body {
    /* Show it's not fixed to the top */
    min-height: 75rem;
    padding-top: 4rem;

}
		#row-main {
			overflow-x: hidden; /* necessary to hide collapsed sidebar */
		}
		#content {
			background-color: lightyellow;

			-webkit-transition: width 0.3s ease;
			-moz-transition: width 0.3s ease;
			-o-transition: width 0.3s ease;
			transition: width 0.3s ease;
		}
		#sidebar {
			background-color: lightgrey;

			-webkit-transition: margin 0.3s ease;
			-moz-transition: margin 0.3s ease;
			-o-transition: margin 0.3s ease;
			transition: margin 0.3s ease;
		}
		.collapsed {
			display: none; /* hide it for small displays */
		}
		@media (min-width: 992px) {
			.collapsed {
				display: block;
				margin-right: -25%; /* same width as sidebar */
			}
		}



